[Unit]
Description=Restore plasmashell because PRELUDE shell keeps failing

[Service]
Type=oneshot
ExecStart=@APPDIR@/scripts/shell-mode.sh off --now
