[Unit]
Description=Restore plasmashell because PRELUDE shell keeps failing

[Service]
Type=oneshot
Environment=PRELUDE_ROOT=@ROOT@
ExecStart=@ROOT@/bin/prelude-fallback.sh
